// basic colors
$transparent: transparent;
$white: #ffffff;
$black: #000000;

// main colors
$warning: #f37500;
$warningbg: #fef3dd;
$success: #00b731;
$successbg: #dffbe7;
$info: #0272d4;
$infobg: #e5f4ff;
$error: #ee0808;
$errorbg: #ffe4e5;
$secured: #4622e7;
$securedbg: #f0e6ff;
